<a href="@Url.Action("GioHang","GioHang")" style="font-weight:bold;text-decoration:none;" )>
    <img src="~/image_slide/shopping-cart-orange-hi.png" width="38" height="38" title="Giỏ Hàng" /> [@ViewBag.TongSoLuong]
</a>


