
@{
    ViewBag.Title = "Thanh Toán_Thất Bại";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="font-size:50px;text-align:center;color:red">Đã có lỗi xảy ra! Vui lòng kiểm tra lại thông tin thanh toán !</h2>
<p style="font-size:50px;text-align:center"> @Html.ActionLink("Về Trang Chủ", "Index", "GuitarShop")</p>