@{
    ViewBag.Title = "Xác Nhận";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<hr />
<h2 style="font-size:35px;text-align:center">Đơn Đặt Hàng Đã Gửi Đi, Rất Hân Hạnh Được Phục Vụ !</h2>
<p style="font-size:40px;text-align:center">@Html.ActionLink("Về Trang Chủ", "Index", "GuitarShop")</p>