@model IEnumerable<GuitarShop.Models.TheLoaiDan>
<div class="list-group">
    <style>
        a.ex1:hover, a.ex1:active {
            color: red;
        }
    </style>
    @foreach (var item in Model)
    {
        <a class="ex1" style="font-size:20px;" href="@Url.Action("SP_TheoTheLoai", "GuitarShop", new { id = item.MaTheLoai })" @*class="list-group-item"*@>
            @item.TheLoai
        </a>
        <a class="ex1" style="font-size:20px;"  @*class="list-group-item"*@>            
        </a>
       
    }
</div>